{% load static %}
<script src="{% static 'js/pawn-collateral-editor.js' %}" defer></script>
<script src="{% static 'js/pawn-draft-summary.js' %}" defer></script>
<script src="{% static 'js/pawn-number-preview.js' %}" defer></script>
<script src="{% static 'js/pawn-appraisal-suggestion.js' %}" defer></script>
<script src="{% static 'js/pawn-borrower-outstanding.js' %}" defer></script>
<script src="{% static 'js/pawn-rate-readiness.js' %}" defer></script>
<script src="{% static 'js/pawn-draft-submit.js' %}" defer></script>
{% if not loan %}
<script src="{% static 'js/paper-entry.js' %}" defer></script>
<script src="{% static 'js/loan-entry.js' %}" defer></script>
{% if entry_purpose == 'paper' %}<script src="{% static 'js/camera-selection.js' %}" defer></script><script src="{% static 'loans/collateral_camera.js' %}" defer></script>{% endif %}
{% endif %}
