{% if not loan.is_released %}
<div class="text-end mb-2">
  <button class="btn btn-success btn-sm" hx-trigger="click"
    hx-get="{% url 'girvi:loanitem_create_update' loan.id %}" hx-target="#form" hx-swap="innerHTML">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
    </svg> Add Item
  </button>
</div>
{% endif %}
<div id="form" hx-target="this" hx-swap="innerHTML"></div>
<ul class="list-group" id="items" hx-target="closest li" hx-swap="innerHTML">
  {% if loan.loan_type == 'Given' %}
  {% for i in items %}
  <li class="list-group-item" id="item-{{i.id}}" hx-target="this" hx-swap="innerHTML">
    {% include 'girvi/partials/item-inline-new.html' with object=i %}
  </li>
  {% endfor %}
  {% elif loan.loan_type == 'Taken' %}
  {% for i in loan.repledgedloanitems.all %}
  {% include 'girvi/partials/repledged_item_inline_new.html' with object=i %}
  {% endfor %}
  {% endif %}
</ul>
