{% extends 'layouts/workspace.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% block breadcrumbs %}
{% include 'components/navigation/breadcrumbs.html' with show_home=True current_page=page_title|default:'Product' %}
{% endblock %}

{% block page_header %}
<h1 class='h4 mb-3'>{{ page_title|default:'Product' }}</h1>
{% endblock %}

{% block workspace_content %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
{{form.media}}
<div class="container col-lg-9 mt-4">
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">
            <h1 class="h5 mb-3">Add a new stock statement</h1>
            <form id="form-container" method="POST">
                {% csrf_token %}
                {{stockstatement_formset.management_form}}
                {% for form in stockstatement_formset %}
                <div class="inline {{stockstatement_formset.prefix}} mb-3 border rounded p-3 bg-light-subtle">
                    {{form|crispy}}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Create Stock Statement</button>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".inline.{{ stockstatement_formset.prefix }}").formset({
            prefix: "{{ stockstatement_formset.prefix }}",
            //formTemplate: $("#formset-template").clone(),
            // initialize newly created heavy fields on the added callback
            added: function ($row) {
                // $row.find('.stock select').select2();
                $row.find('.delete-row').addClass('btn-sm btn-danger');
            },
            removed: function ($row) {
            },

        });

        $('.stock select').select2();
        $('.add-row').addClass('btn-sm btn-success');
        $('.delete-row').addClass('btn-sm btn-danger');
</script>


{% endblock %}
