{%extends 'tenant.html'%}
{% block content %}
<p><a class="btn btn-default" href="{% url 'product_stock_list' %}">Stock Listing</a>
</p>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <table class="table table-sm table-responsive">
        <tbody>
          <tr>
            <td>Created</td>
            <td>{{ object.created }}</td>
          </tr>
          <tr>
            <td>Updated</td>
            <td>{{ object.updated }}</td>
          </tr>
          <tr>
            <td>Purchase</td><td>{{object.purchase_item.invoice}}</td>
          </tr>
          <tr>
            <td>Product</td>
            <td>{{ object.variant }}</td>
          </tr>
          <tr>
            <td>SKU</td>
            <td>{{ object.sku }}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{ object.status }}</td>
          <tr>
            <td>Lot#</td><td>{{object.lot_no}}</td>
          </tr>
          {%if object.unique%}
          <tr>
            <td>Serial#</td><td>{{object.serial_no}}</td>
          </tr>
          {%endif%}
          <tr>
            <td>HUID#</td><td>{{object.huid}}</td>
          </tr>
          <tr>
            <td>Weight</td>
            <td>{{object.weight}}({{object.current_balance.wt}})</td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td>{{object.quantity}}({{ object.current_balance.qty}})</td>
          </tr>
          <tr>
            <td>Cost</td>
            <td>{{ object.purchase_touch }}</td>
          </tr>
          <tr>
            <td>Rate</td>
            <td>{{ object.purchase_rate }}</td>
          </tr>
          <tr>
            <td>Reorderat</td>
            <td>{{ object.reorder_level }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-8">
        <div class="container mt-3">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#transactions">Transactions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#statements">Statements</a>
        </li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div id="transactions" class="container tab-pane active"><br>
          <div class="card">
            <div class="card-body">
              {% if object.stocktransaction_set %}
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>JE</th>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Movement</th>
                    <th>Weight</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in object.stocktransaction_set.all %}
                  <tr>
                    <td>{{ i.journal_entry }}</td>
                    <td>{{ i.id }}</td>
                    <td>{{ i.created }}</td>
                    <td>{{ i.movement_type.name }}</td>
                    <td>{{ i.movement_type.direction }}{{ i.weight }}</td>
                    <td>{{ i.movement_type.direction }}{{ i.quantity }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
        <div id="statements" class="container tab-pane fade"><br>
          <div class="card">
            <div class="card-body">
              {% if object.stockstatement_set %}
              <div class="table-responsive">
                <table class="table table-hover table-sm">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Created</th>
                      <th>Weight</th>
                      <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in object.stockstatement_set.all %}
                    <tr>
                      <td>{{ i.id }}</td>
                      <td>{{ i.created|date }}</td>
                      <td>{{ i.Closing_wt }}</td>
                      <td>{{ i.Closing_qty }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>


{% endblock %}
