{% extends 'layouts/workspace.html' %}

{% block breadcrumbs %}
{% include 'components/navigation/breadcrumbs.html' with show_home=True current_page=page_title|default:'Product' %}
{% endblock %}

{% block page_header %}
<h1 class='h4 mb-3'>{{ page_title|default:'Product' }}</h1>
{% endblock %}

{% block workspace_content %}
<p><a class="btn btn-default" href="{% url 'product_stock_list' %}">Stock Listing</a></p>
<table class="table table-sm table-bordered">
    <tr>
        <td>Created</td>
        <td>ID</td>
        <td>Subject</td>
        <td>Method</td>
        <td>Status</td>
        <td>System</td>
        <td>Physical</td>
        <td>Variance</td>
        <td>Closing</td>
        <td>total In</td>
        <td>Total Out</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.created}}</td>
        <td>{{object.pk}}</td>
        <td>{% if object.stock %}<a href="{% url 'product_stock_detail' object.stock.id %}">{{ object.stock }}</a>{% else %}{{ object.stock_item }}{% endif %}</td>
        <td>{{object.method}}</td>
        <td>{{object.status}}</td>
        <td>qty:{{object.get_system_balance.qty}} wt:{{object.get_system_balance.wt}}</td>
        <td>{% if object.get_physical_balance %}qty:{{object.get_physical_balance.qty}} wt:{{object.get_physical_balance.wt}}{% else %}-{% endif %}</td>
        <td>qty:{{object.get_variance_balance.qty}} wt:{{object.get_variance_balance.wt}}</td>
        <td>qty:{{object.Closing_qty}} wt:{{object.Closing_wt}}</td>
        <td>qty:{{object.total_qty_in}} wt:{{object.total_wt_in}}</td>
        <td>qty:{{object.total_qty_out}} wt:{{object.total_wt_out}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
