{%load crispy_forms_tags%}
<tr id="row">
    <td colspan="8">
        <form>
            {{form.media}}
            {{ form|as_crispy_errors }}
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="form-group">
                            {{form.item|as_crispy_field}}
                            {{form.item.errors}}
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="form-group">
                            {{form.itemdesc|as_crispy_field}}
                            {{form.itemdesc.errors}}
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="form-group">
                            {{form.itemtype|as_crispy_field}}
                            {{form.itemtype.errors}}
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="form-group">
                            {{form.interestrate|as_crispy_field}}
                            {{form.interestrate.errors}}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="form-group">
                            {{form.quantity|as_crispy_field}}
                            {{form.quantity.errors}}
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="form-group">
                            {{form.weight|as_crispy_field}}
                            {{form.weight.errors}}
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="form-group">
                            {{form.purity|as_crispy_field}}
                            {{form.purity.errors}}
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 col-lg-3">
                        <div class="form-group">
                            {{form.loanamount|as_crispy_field}}
                            {{form.loanamount.errors}}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="form-group">
                            <button class="btn btn-success btn" hx-post="{% if url %}{{ url }}{% else %}.{% endif%}"
                                hx-include="closest tr">Save Item</button>
                            <button class="btn btn-danger btn" {%if object%} hx-get="{{object.get_absolute_url}}"
                                {%else%}_="on click transition opacity to 0 then remove #row" {%endif%}>Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" id="image-data" name="image_data">
                    <div class="col-12 col-lg-6">
                        <div class="camera">
                            <video id="video">Video stream not available.</video>
                            <button id="startbutton">Take photo</button>
                        </div>
                        <canvas id="canvas"></canvas>
                    </div>
                    <div class="col-12  col-lg-6">
                        <div class="output">
                            <img id="photo" alt="The screen capture will appear in this box." />
                        </div>
                    </div>

                </div>

            </div>
        </form>
    </td>
</tr>