{% load static %}
<li class="list-group-item" id="item-{{i.id}}" >
    <div class="row g-0 align-items-center">
        <div class="col-3 col-md-2">
            {% if object.pic %}
                <img src="{{object.pic.url}}" class="img-fluid rounded-start" alt="Item Image" style="object-fit: cover;">
            {% else %}
                <img src="{% static 'images/falconx.png' %}" class="img-fluid rounded-start" alt="Default Profile Picture" style="object-fit: cover;">
            {% endif %}
        </div>
        <div class="col-9 col-md-10">
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <h5 class="card-title mb-1">Item: {{ i.itemdesc }}</h5>
                        <p class="card-text mb-1">
                            <small><strong>Qty:</strong> {{ i.quantity }}</small><br>
                            <small><strong>Wt:</strong> {{ i.weight }}</small><br>
                            <small><strong>Purity:</strong> {{ i.purity }}</small>
                        </p>
                    </div>
                    <div class="col-6 col-md-4">
                        <p class="card-text mb-1">
                            <small><strong>Amount:</strong> {{ i.loanamount }}</small><br>
                            <small><strong>Value:</strong> {{ i.current_value }}</small><br>
                            <small><strong>ROI:</strong> {{ i.interestrate }}</small><br>
                            <small><strong>Interest:</strong> {{ i.interest }}</small>
                        </p>
                    </div>
                    <div class="col-12 col-md-4 text-end">
                        <div class="btn-group" role="group">
                            <button class="btn btn-info btn-sm" hx-trigger='click' hx-get='{{ object.get_hx_edit_url }}'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </button>
                            <button class="btn btn-danger btn-sm" hx-post='{{ object.get_delete_url }}' hx-confirm='Delete item?' hx-trigger='click'>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>

    

