<li class="list-group-item" id="item-{{ object.id }}">
    <div class="row">
        <div class="col-8">
            <p><strong>Item:</strong> {{ object.id }} - {{ object.loan }}</p>
            <p><strong>Original Item:</strong> {{ object.original_loanitem.itemdesc }} - {{ object.original_loanitem.weight }}g</p>
            <p><strong>Repledged Amount:</strong> {{ object.repledged_loanamount }}</p>
        </div>
        <div class="col-4 text-end">
            <button hx-get="{% url 'girvi:loanitem_create_update' parent_id=object.loan.id id=object.id %}" class="btn btn-sm btn-secondary">Edit</button>
            <button hx-confirm='Delete item?' hx-delete="{% url 'girvi:repledgedloanitem_delete' parent_id=object.loan.id id=object.id %}" class="btn btn-sm btn-danger">Delete</button>
        </div>
    </div>
</li>


    

