{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log out{% endblock %}


{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="col-md-6 col-lg-4">
          <div class="card shadow">
              <div class="card-body">
                  <h1 class="card-title text-center">Sign Out</h1>
                  <p class="text-center">Are you sure you want to sign out?</p>
                  <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group text-center">
                        <button class="btn btn-danger btn-lg" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right mr-2" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h8zm-8-1V4h8v7h-8z"/>
                              <path fill-rule="evenodd" d="M4.646 8.354a.5.5 0 0 1 0-.708l1.5-1.5a.5.5 0 1 1 .708.708L6.707 7.5H13.5a.5.5 0 0 1 0 1H6.707l-.853.854a.5.5 0 0 1-.708 0z"/>
                              <path fill-rule="evenodd" d="M13.5 8a.5.5 0 0 1-.5-.5V1.707l-1.15 1.15a.5.5 0 0 1-.707-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.707.708L14 1.707V7.5a.5.5 0 0 1-.5.5z"/>
                            </svg>
                            Sign Out
                        </button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}