{% extends 'layouts/base.html' %}
{% block title %}Acount detail{% endblock %}
{% block content %}




<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{ ct.object.contact.name }} - Account Transactions</h5>
        
        <!-- Opening Balances -->
        <div class="mb-3">
            <h6>Opening Balances:</h6>
            {% for currency, balance in ct.opening_balances.items %}
            <div>{{ currency }}: {{ balance }}</div>
            {% endfor %}
        </div>
    </div>
    
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Journal Entry</th>
                    <th>Date</th>
                    <th>Voucher</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Running Balances</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ct.raw %}

                <tr>
                    <td>{{ forloop.counter|add:"1"}}</td>
                    <td><a href="{% url 'dea_journal_entry_detail' item.transaction.journal_entry.id %}">{{item.transaction.journal_entry.id}}</a></td>
                    <td>{{ item.transaction.created|date:"Y-m-d" }}</td>
                    <td>
                                        <a href="{{item.transaction..journal_entry.get_voucher_url}}">
                                            {% if item.transaction.journal_entry.parent_object %}
                                                {{ item.transaction.journal_entry.parent_object.pk }}
                                            {% elif item.transaction.journal_entry.content_object %}
                                                {{ item.transaction.journal_entry.content_object.pk }}
                                            {% endif %}</a>
                                    </td>
                    <td>{{ item.transaction.XactTypeCode_ext.description }}</td>
                    <td>{{ item.transaction.XactTypeCode }}</td>
                    <td class="{% if item.transaction.XactTypeCode.XactTypeCode == 'Cr' %}text-danger{% else %}text-success{% endif %}">
                        {{ item.transaction.amount }}
                    </td>
                    <td>
                        {% for currency, balance in item.balances.items %}
                        <div>{{ currency }}: {{ balance }}</div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-end"><strong>Closing Balances:</strong></td>
                    <td>
                        {% for currency, balance in ct.closing_balances.items %}
                        <div><strong>{{ currency }}: {{ balance }}</strong></div>
                        {% endfor %}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}