{% extends 'layouts/workspace.html' %}
{% load mptt_tags %}
{% load static%}
{% block title %}Ledger List{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Chart of Accounts</h5>
    </div>
    <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a type="button" class="btn btn-outline-success" href="" hx-get="{% url 'dea_ledger_create' %}"
                    hx-target="#form">Add Ledger</a>
                <a type="button" class="btn btn-outline-primary" href="">Add txn</a>
                <a type="button" class="btn btn-outline-info" href="{% url 'dea_ledger_audit' %}">Audit</a>
            </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Ledger Name</th>
                    <th>Account Type</th>
                    <th>Opening Balance</th>
                    <th>Credits</th>
                    <th>Debits</th>
                    <th>Current Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for ledger in ledgers %}
                <tr>
                    <td>
                        {{ ledger.name }}
                    </td>
                    <td>
                        {{ ledger.account_type }}
                    </td>
                    <td class="text-end">
                        {{ ledger.opening_balance }}
                    </td>
                    <td class="text-end text-danger">
                        {{ ledger.credits }}
                    </td>
                    <td class="text-end text-success">
                        {{ ledger.debits }}
                    </td>
                    <td class="text-end {% if ledger.current_balance < 0 %}text-danger{% else %}text-success{% endif %}">
                        {{ ledger.current_balance }}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No ledgers found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}