{% extends 'layouts/base.html' %}
{% load static orgs_tags %}

{# Control-plane layout for account and workspace management. #}

{% block body_class %}rokkad-workspace rokkad-management{% endblock %}
{% block footer %}{% endblock %}
{% block messages %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/management.css' %}">
{% block mgmt_extra_css %}{% endblock %}
<link rel="stylesheet" href="{% static 'css/workspace-ui.css' %}">
<link rel="stylesheet" href="{% static 'css/management-ui.css' %}">
{% endblock %}

{% block main_wrapper_class %}container-fluid p-0 mt-0{% endblock %}

{% block content %}
<div class="mgmt-shell">
    <aside class="mgmt-sidebar d-none d-lg-flex flex-column">
        {% if request.workspace %}{% include 'components/navigation/sidebar.html' %}{% else %}{% include 'components/navigation/personal_sidebar.html' %}{% endif %}
    </aside>

    <div class="mgmt-content">
        {% include "components/messages.html" with messages_container_class="mb-3" %}
        <div class="d-lg-none mb-4"><button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#mgmtOffcanvas" aria-controls="mgmtOffcanvas" aria-label="Navigation"><i class="bi bi-list me-2"></i>Navigation</button></div>
        {% block breadcrumbs %}{% endblock %}
        {% block page_header %}{% endblock %}
        {% block mgmt_content %}{% endblock %}
    </div>
</div>

<div class="offcanvas offcanvas-start mgmt-offcanvas" tabindex="-1" id="mgmtOffcanvas">
    <div class="offcanvas-header border-bottom">
        <h6 class="offcanvas-title fw-bold">
            <i class="bi bi-person-workspace me-1"></i> Navigation
        </h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body p-0">
        {% if request.workspace %}{% include 'components/navigation/sidebar.html' %}{% else %}{% include 'components/navigation/personal_sidebar.html' %}{% endif %}
    </div>
</div>
{% endblock %}
