{% extends 'layouts/base.html' %}
{% load orgs_tags static %}
{% block body_class %}rokkad-workspace{% endblock %}
{% block extra_css %}{{ block.super }}<link rel="stylesheet" href="{% static 'css/workspace-ui.css' %}">{% endblock %}
{% block main_wrapper_class %}container-fluid p-0{% endblock %}
{% block footer %}{% endblock %}
{% block messages %}{% endblock %}

{% block navbar %}
    {% include 'components/navigation/main_nav.html' %}
{% endblock %}

{% block main_class %}d-flex flex-column min-vh-100 workspace-shell{% endblock %}

{% block content %}
<div class="container-fluid flex-grow-1 workspace-page">
    <div class="row h-100">
        <!-- Sidebar - Hidden on mobile, visible on md+ screens -->
        <nav class="col-lg-2 workspace-sidebar
                    {% if not show_sidebar %}d-none{% endif %} d-lg-block" 
             id="workspaceSidebar">
            {% block sidebar %}
                {% include 'components/navigation/sidebar.html' %}
            {% endblock %}
        </nav>
        
        <!-- Mobile Sidebar Toggle Button -->
        <div class="d-lg-none px-3 pt-3 workspace-mobile-nav">
            <button class="btn btn-outline-primary workspace-sidebar-toggle"
                    type="button" 
                    id="sidebarToggleBtn" 
                    data-bs-toggle="offcanvas" 
                    data-bs-target="#sidebarOffcanvas"
                    aria-controls="sidebarOffcanvas"
                    title="Toggle Navigation" aria-label="Open Workspace navigation">
                <i class="bi bi-list" aria-hidden="true"></i> Navigation
            </button>
        </div>
        
        <!-- Mobile Offcanvas Sidebar -->
        <div class="offcanvas offcanvas-start bg-light workspace-offcanvas"
             tabindex="-1" 
             id="sidebarOffcanvas"
             aria-labelledby="sidebarOffcanvasLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title" id="sidebarOffcanvasLabel">
                    <i class="bi bi-list"></i> Navigation
                </h5>
                <button type="button" 
                        class="btn-close" 
                        data-bs-dismiss="offcanvas" 
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body p-0">
                <div class="p-3">
                    {% block mobile_sidebar %}
                        {% include 'components/navigation/sidebar.html' %}
                    {% endblock %}
                </div>
            </div>
        </div>
        
        <!-- Main Content Area -->
        <main class="col-lg-10 px-3 px-md-4 py-3 workspace-content" id="content">
            {% include "components/messages.html" with messages_container_class="mb-3" %}
            <!-- Breadcrumb Navigation -->
            {% block breadcrumbs %}{% endblock %}
            
            <!-- Page Header -->
            {% block page_header %}{% endblock %}
            
            <!-- Workspace Content -->
            {% block workspace_content %}{% endblock %}
        </main>
    </div>
</div>

{% endblock %}
