{% load crispy_forms_tags %}
<form method="post" hx-post="{% url 'orgs_membership_update' company.id membership.id %}" hx-trigger="change from:select[name='role']" hx-target="this">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="id_role">Role</label>
        <select name="role" id="id_role" class="form-control">
            {% for role in roles %}
            <option value="{{ role.id }}" {% if role == membership.role %}selected{% endif %}>{{ role.name }}</option>
            {% endfor %}
        </select>
    </div>
</form>