{% extends 'base_tenant.html' %}

{% block breadcrumbs %}
{% include 'components/navigation/breadcrumbs.html' with show_home=True current_page=page_title|default:'Product' %}
{% endblock %}

{% block page_header %}
<h1 class='h4 mb-3'>{{ page_title|default:'Product' }}</h1>
{% endblock %}

{% block workspace_content %}

<h1>Delete Product type {{object.name}}</h1>

<p>Are you sure you want to delete the ProductType: {{ object }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete." />
</form>

{% endblock %}


