{% extends 'layouts/workspace.html' %}

{% block breadcrumbs %}
{% include 'components/navigation/breadcrumbs.html' with show_home=True current_page=page_title|default:'Product' %}
{% endblock %}

{% block page_header %}
<h1 class='h4 mb-3'>{{ page_title|default:'Product' }}</h1>
{% endblock %}

{% block workspace_content %}
<p><a class="btn btn-default" href="{% url 'product_productimage_list' %}">ProductImage Listing</a></p>
<table class="table">
<tr><td>ppoi</td><td>{{ object.ppoi }}</td></tr>
<tr><td>alt</td><td>{{ object.alt }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit ProductImage</a>

{% endblock %}

