<div class="modal-header">
  {% if contact.id %}
  <h5 class="modal-title">Update Contact</h5>
  {% else %}
  <h5 class="modal-title">Create Contact</h5>
  {% endif %}
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div id="modal-body" class="modal-body">
  <div class="container col-md-10 mt-3 mb-2" id="form">
    {{ form.media }}
    <div class="card">
      <div class="card-body overflow-hidden">
        {% include 'partials/crispy_form.html' with form=form %}
      </div>
    </div>
  </div>
</div>