{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n%}
{% block content %}

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>{{request.user.workspace|capfirst}} Preferences</h2>
            </div>
            <div class="card-body">
                <form action="." method="POST">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}