{% extends 'account/profile.html' %}
{% load i18n %}
{% block profile-content %}
  <h1>{%trans "Invitation List"%}</h1>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Created</th>
        <th>Company</th>
        <th>Inviter</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {%for i in invitations%}
        <tr>
            <td>{{i.created}}</td>
            <td>{{i.company}}</td>
            <td>{{i.inviter}}</td>
            <td>{{i.email}}</td>
            <td>{{i.accepted|yesno:"Accepted,Rejected"}}</td>
        </tr>
        {%endfor%}
    </tbody>
  </table>
{% endblock %}
