{% extends 'base_workspace_settings.html' %}
{% load i18n static %}
{% block title %}{% translate "Invite member" %}{% endblock %}
{% block mgmt_content %}<section class="setup-entry" hx-history="false">
{% include 'company/_team_navigation.html' %}
<h1 class="h3">{% translate "Invite member" %}</h1><p class="text-break">{{ workspace.name }}</p>
<p>{% translate "Send an invitation to the email address the person will use to sign in. They must verify that address and accept before joining." %}</p>
{% include 'company/_seat_capacity.html' %}
{% include 'components/forms/accessible.html#errors' %}
<form method="post" novalidate>{% csrf_token %}{% for field in form.hidden_fields %}{{ field }}{% endfor %}
<fieldset class="card card-body mb-3"><legend class="h5">{% translate "Person and access" %}</legend>
{% include 'components/forms/accessible.html#field' with field=form.email %}
{% include 'components/forms/accessible.html#field' with field=form.role %}
</fieldset>
<p>{% translate "Sending this form emails an invitation. It does not transfer ownership or create a customer record." %}</p>
<div class="d-flex flex-wrap gap-2"><button class="btn btn-primary" type="submit">{% translate "Send invitation email" %}</button><a class="btn btn-outline-secondary" href="{% url 'workspace_slug_settings_team' workspace.slug %}">{% translate "Cancel" %}</a></div>
</form></section>{% endblock %}
{% block extra_js %}{{ block.super }}<script src="{% static 'js/form-errors.js' %}"></script>{% endblock %}
