{% extends 'layouts/workspace.html' %}
{% load static %}
{% block content %}
<div class="row container mt-3">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Loan Status</h5>
      </div>
      <ul class="list-group">
        <li class="list-group-item">{{ loan.loan_id }} {{ loan.loan_date|date }}</li>
        <li class="list-group-item">{{ loan.borrower }}</li>
        <li class="list-group-item">{{ loan.get_loan_amount }} + {{ loan.interest_due }}</li>
        <li class="list-group-item">{{ loan.get_total_payments }}</li>
        <li class="list-group-item">{{ loan.total_due }}</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Renew</h5>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p}}
          <button href="{% url 'girvi:girvi_loan_renew' loan.pk%}" type="submit" class="btn btn-primary">Renew</button>
        </form>
      </div>
    </div>
  </div>
</div>
{%endblock %}
