{% extends "tenant.html"%}
{%load static%}
{% load crispy_forms_tags%} 

{% block content %}
{{form.media}}
<div class="container" id="form">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if loan%}
    <h1 class="h2">Update Loan</h1>
    {%else%}
    <h1 class="h2">Create Loan</h1>
    {%endif%}
  </div>
  <div class="card">
    <div class="card-body overflow-hidden">
      {{form.errors}}
      {% include 'partials/crispy_form.html' with form=form%}
    </div>
    <div 
        hx-get="{% url 'get_customer_balance' %}" 
        hx-trigger="change from:select[name='customer']"
        hx-target="this"
        hx-swap="innerHTML"
        hx-include="[name='customer']">

    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
  
      // Bind HTMX trigger to Select2 change event
      $('#id_series').on('select2:select', function () {
          this.dispatchEvent(new Event('change', { bubbles: true }));
      });
  });
</script>
<script>
  // Ensure the HTMX request is triggered when the django-select2 widget changes
  $(document).ready(function() {
    $('select[name="customer"]').on('change', function() {
      this.dispatchEvent(new Event('change', { bubbles: true }));
    });
  });
</script>
{% endblock %}

