<a class="nav-link mgmt-nav-link {% if request.resolver_match.url_name == 'team_invitations' or request.resolver_match.url_name == 'app_invitations' %}active{% endif %}"
   href="{% url 'app_invitations' %}">
    <i class="bi bi-envelope-open"></i> My Invitations
    {% if invitation_count and invitation_count > 0 %}
    <span class="badge bg-warning text-dark">{{ invitation_count }}</span>
    {% endif %}
</a>
<a class="nav-link mgmt-nav-link {% if request.resolver_match.url_name == 'account_settings' %}active{% endif %}"
   href="{% url 'account_settings' %}">
    <i class="bi bi-shield-lock"></i> Account Settings
</a>
<a class="nav-link mgmt-nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
   href="{% url 'profile' %}">
    <i class="bi bi-person-gear"></i> Profile
</a>
