{% load orgs_tags %}
{% navigation_actions as nav_actions %}
{% if 'workspace.view' in nav_actions %}
{% url 'workspace_slug_settings' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Business profile</a>
{% url 'workspace_slug_settings_setup' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Setup checklist</a>
{% endif %}
{% if 'team.view' in nav_actions %}{% url 'workspace_slug_settings_team' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Team</a>{% endif %}
{% if 'billing.view' in nav_actions %}{% url 'workspace_subscriptions:dashboard' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Billing</a>{% endif %}
{% if 'workspace.settings.manage' in nav_actions %}
{% url 'workspace_slug_settings_numbering' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Loan setup</a>
{% url 'workspace_slug_loans_dispatch' workspace_slug=ew.slug loans_path='setup/documents/' as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Documents &amp; printing</a>
{% url 'workspace_slug_settings_preferences' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Preferences</a>
{% url 'workspace_slug_settings_modules' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">App configuration</a>
{% url 'workspace_slug_settings_security' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Security</a>
{% endif %}
{% if 'data.import' in nav_actions %}{% url 'workspace_slug_data_tools_import' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Data tools</a>{% endif %}
{% if 'workspace.archive' in nav_actions %}{% url 'workspace_slug_settings_archive' workspace_slug=ew.slug as settings_href %}
<a class="nav-link mgmt-nav-link text-danger {% if request.path == settings_href %}active{% endif %}" href="{{ settings_href }}">Archive Workspace</a>{% endif %}
