{%load crispy_forms_tags%}
{% load i18n%}
{% load widget_tweaks %}

<div class="position-relative h-20 " id ="filter">
    {{filter.form.media}}
    {% if filter %}
    <div class="card  text-center">
        <div class="card-header">
            {%trans "Filter"%}
        </div>
        <div class="card-body">
            <form hx-trigger="input,select,keyup,change" 
                    hx-get="."
                    hx-target = "#table"
                    hx-select = "#table"
                    hx-swap = "outerHTML"
                    hx-indicator=".progress"
                    hx-push-url="true"
                    class = "form-inline">
               
                {% crispy filter.form %}
            </form>
            
        </div>
    </div>
    {% endif %}
</div>







