
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar content goes here -->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu Item 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu Item 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu Item 3</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Content -->
            <div class="content">
                <h1 class="mt-5">Dashboard</h1>
                <p>Welcome, {{ user.email }}!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
