{% extends "base_tenant.html" %}
{% block title %}{{ title }}{% endblock %}
{% block workspace_content %}
{% load orgs_tags %}{% navigation_actions as batch_actions %}
<div class="d-flex gap-3 mb-3">{% if 'loan.release' in batch_actions %}<a href="{% url 'loans:release_batch_create' %}">Release multiple loans</a>{% endif %}<a href="{% url 'loans:release_batch_list' %}">Release batches</a></div>
<h1 class="h3">{{ title }}</h1><p class="text-muted">{{ description }}</p>
{% include "loans/browse/_content.html" %}
{% endblock %}
